.wrapper {
    box-sizing: border-box;
    padding: 20px 5%;
}
.faqForm {
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 1px 6px 0 gray;
    width: 50%;
}
.faqForm input {
    width: 100%;
    padding-left: 12px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    box-sizing: border-box;
}
.defaultFaqPreviewWrapper {
    text-align: center;
}
.questionItem {
    box-sizing: border-box;
    padding: 12px;
    box-shadow: 0 1px 6px 0 gray;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
}
.questionItem li {
    list-style-type:none;    
}
.editBtn {
    position: absolute;
    top: 5px;
    right: 18px;
}
.editBtn:hover {
    cursor: pointer;
    color: lightskyblue;
}
.addQuestionBtn {
    width: auto;
    border-radius: 10px;
    background-color: lightskyblue;
    border-width: 0;
    margin: 20px auto 50px;
    justify-self: flex-end;
    margin-right: 20px;
    font-weight: 500;
    font-size: 20px;
    padding: 12px 30px;
}
.addQuestionBtn:hover {
    background-color: rgb(83, 184, 247);
    cursor: pointer;
}