.wrapper {
    text-align: center;
    /* min-width: 300px; */
    margin: 50px auto 0;
    /* border: 1px solid grey; */
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 grey;
    padding: 15px 5px;
}
.wrapper img {
    width: 100%;
}